/*Main Styles*/

body {
	width: 960px;
	margin: 10px auto;
	background-color: #585858;
	background: -webkit-linear-gradient(#585858,#808080);
	background: linear-gradient(#585858,#808080);
	opacity: 0.8;
	color: #585858;
	font-family: "Open Sans", sans-serif, serif;
}

div {
	margin: 25px auto;
	padding: 5px 20px;
}

h1 {
	background-image: url("../images/soccer_ball_pattern.png");
	background-repeat: repeat-x;
	background-position: center;
	color: #FFFFFF;
	font: bold 45px Roboto, sans-serif;
	text-align: center;
	margin: 0px;
	padding-bottom: 5px;
}

h2 {
	font: bold 25px Roboto, sans-serif;
	text-shadow: 1px 1px #808080;
	padding-left: 40px;
	background-image: url("../images/soccer_ball.png");
	background-repeat: no-repeat;
	background-position: left;
}

h3 {
	font: bold 20px Roboto, sans-serif;
	text-shadow: 1px 1px #808080;
}

h4 {
	font: bold 15px Roboto, sans-serif;
	text-shadow: 1px 1px #808080;
}

p {
	line-height: 25px;
}

ul {
	font: bold 15px Roboto, sans-serif;
	list-style-type:square;
}

abbr {
	font-style: italic;
}

/*Link Styles*/

a:link {
	color: #5CCCCC;
}

a:visited {
	color: #006363;
}

a:hover {
	color: #33CCCC;
}

a:active {
	color: #009999;
}

a img {
	border: 1px solid;
	display: block;
}

/*Image Styles*/

img {
	margin-bottom: 15px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #808080;
}

figcaption {
	font-size: 95%;
}

figcaption a {
	display: inline-block;
}

/*Gallery Column Layout*/

#galleryCol1, #galleryCol2, #galleryCol3{
	width: 300px;
	float: left;
	padding: 0px;
	margin: 0px auto;
}

#footer {
	clear: left;
}

/*Container Layout*/

div.container {
	border-radius: 10px;
	background: #ffffff;
}

/*Table of Contents Navigation*/

div#contents {
	float: right;
	width: 355px;
	margin: 20px;
	padding: 0px;
	border: 5px solid #585858;
	border-radius: 10px;
	height: 280px;
}